<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Yeni Kullanıcı Ekle</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">

<style type="text/css">
body {
	font-family: Arial, Helvetica, sans-serif;
	background: url('./Image/body.jpg');
	font-size: 12px;
	line-height: 22px;
	min-height: 100%;
	position: relative;
}

.container-fluid {
	display: flex;
	padding-left: 0px;
	padding-right: 0px;
}
</style>

</head>
<body>
	<div th:replace="navbar.html"></div>
	<div class="container-fluid">
		<div th:replace="navbar3.html"></div>
		<div style="width: 100%;">
			<div class="container" th:replace="navbar2.html"></div>
			<div class="container-sm mt-5" style="box-shadow: 1px 1px 1px 1px #999;">
				<h1>Yeni Kullanıcı Ekle</h1>

				<form th:action="@{/users/add}" th:object="${user}" method="post">
					<div class="form-group">
						<label for="firstName">Ad</label> <input type="text"
							id="firstName" name="firstName" class="form-control"
							th:field="*{firstName}" required />
					</div>
					<div class="form-group">
						<label for="lastName">Soyad</label> <input type="text"
							id="lastName" name="lastName" class="form-control"
							th:field="*{lastName}" required />
					</div>
					<div class="form-group">
						<label for="mail">Email</label> <input type="email" id="mail"
							name="mail" class="form-control" th:field="*{mail}" required />
					</div>
					<div class="form-group">
						<label for="number">Numara</label> <input type="text" id="number"
							name="number" class="form-control" th:field="*{number}" required />
					</div>
					<div class="form-group">
						<label for="password">Şifre</label> <input type="password"
							id="password" name="password" class="form-control"
							th:field="*{password}" required />
					</div>
					<div class="form-group">
						<label for="role">Rol</label> <select id="role" name="role"
							class="form-control" th:field="*{role}" required>
							<option value="ROLE_STUDENT">Öğrenci</option>
							<option value="ROLE_TEACHER">Hoca</option>
							<option value="ROLE_STAFF">Memur</option>
						</select>
					</div>
					<div class="form-group">
						<label for="department">Departman</label> <input type="text"
							id="department" name="department" class="form-control"
							th:field="*{department}" />
					</div>
					<button type="submit" class="btn btn-primary">Kaydet</button>
				</form>
				<div th:if="${errorMessage}" class="alert alert-danger"
					th:text="${errorMessage}"></div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
