<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>OBS</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">

<style type="text/css">
body {
	font-family: Arial, Helvetica, sans-serif;
	background: url('./Image/body.jpg');
	font-size: 12px;
	line-height: 22px;
	min-height: 100%;
	position: relative;
}

.container-fluid {
	display: flex;
	padding-left: 0px;
	padding-right: 0px;
}
</style>
</head>
<body>
	<div th:replace="navbar.html"></div>

	<div class="container-fluid">
		<div th:replace="navbar3.html"></div>
		<div style="width: 100%;">
			<div class="container-fluid" th:replace="navbar2.html"></div>

			<div class="container">
				<h1>Ders Programı</h1>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Ders Kodu</th>
							<th>Ders Adı</th>
							<th>Öğretim Görevlisi</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="course : ${courses}">
							<td th:text="${course.courseCode}">Ders Kodu</td>
							<td th:text="${course.courseName}">Ders Adı</td>
							<td th:text="${course.instructor}">Öğretim Görevlisi</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
